body {
  margin: 0;
  padding: 0;
  position: relative;
  background: linear-gradient(180deg, #ffbcbc 65px, #fff 65px);
}
body::after {
  content: " ";
  position: absolute;
  height: calc(100% - 50px);
  width: 15px;
  background-color: #ffbcbc;
  top: 50px;
  right: 0;
}
body nav {
  position: relative;
  height: 165px;
}
body nav > .nav-top {
  padding: 0 40px;
  height: 37px;
  background-color: #f9b2b2;
  z-index: 999;
  position: relative;
}
body nav > .nav-top div.nav-call-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  margin-left: 25px;
  color: #c03030;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  display: block;
}
body nav > .nav-top div.nav-call-block img {
  position: absolute;
  top: 0.5px;
  left: -25px;
}
body nav > .nav-top ul.nav-account-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: -20px;
  padding: 0;
}
body nav > .nav-top ul.nav-account-block > li {
  list-style: none;
  height: 10px;
  margin: 0;
  text-align: center;
}
body nav > .nav-top ul.nav-account-block > li:not(:last-of-type) {
  border-right: 1px solid #c03030;
}
body nav > .nav-top ul.nav-account-block > li a {
  text-decoration: none;
  color: #c03030;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  display: block;
  margin-top: 0px;
  font-weight: 400;
  padding: 0 20px;
}
body nav > .nav-bottom {
  padding: 0 40px;
  margin-top: 27px;
  height: 100px;
  position: relative;
}
body nav > .nav-bottom .logo-container {
  position: absolute;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
}
body nav > .nav-bottom ul.nav-shop-block {
  position: absolute;
  top: calc(50% - 25px);
  transform: translateY(-50%);
  left: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
body nav > .nav-bottom ul.nav-shop-block > li {
  list-style: none;
}
body nav > .nav-bottom ul.nav-shop-block > li a {
  text-decoration: none;
  color: #000000;
  font-style: italic;
  font-size: 20px;
  margin-right: 25px;
}
body nav > .nav-bottom ul.nav-contacts-block {
  position: absolute;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  right: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
body nav > .nav-bottom ul.nav-contacts-block > li {
  list-style: none;
}
body nav > .nav-bottom ul.nav-contacts-block > li a {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #e0e0e0;
  display: block;
  margin-left: 20px;
  position: relative;
}
body nav > .nav-bottom ul.nav-contacts-block > li a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body nav > .nav-bottom div.nav-menu-dropdown {
  height: 19px;
  background-color: #000;
  margin-left: 55px;
  margin-top: -2px;
  color: #fff;
  text-transform: uppercase;
  padding: 8px;
  font-size: 11px;
}
body nav > .nav-bottom div.nav-menu-dropdown span {
  margin-left: 8px;
  line-height: 18px;
}
body nav > .nav-bottom div.nav-menu-dropdown img {
  margin-left: 5px;
}
body nav::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 60px solid #000;
  display: none;
}
body .cover > *.view-1 {
  background-image: url("./img/cover.png");
  background-size: 100%;
  height: 46.8vw;
}
body .cover > * .cover-link-button {
  height: 3.2vw;
  width: 12vw;
  background-color: #f09d66;
  position: absolute;
  top: calc(46.8vw + 165px);
  left: 50%;
  transform: translate(-50%, -530%);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8vw;
  line-height: 3.2vw;
  text-align: center;
}
body .cover > * .cover-info-block {
  height: 17vw;
  width: 17vw;
  background-color: #d9bf8f;
  position: absolute;
  top: calc(46.8vw + 165px);
  left: 50%;
  transform: translate(-50%, -220%);
}
body .cover > * .cover-info-block .cover-info {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
}
body .cover > * .cover-info-block .cover-info:first-child {
  margin-top: 11%;
}
body .cover > * .cover-info-block .cover-info.span {
  color: #fff;
  font-size: 1.4vw;
  font-weight: 400;
}
body .cover > * .cover-info-block .cover-info.span:first-of-type {
  top: 3%;
}
body .cover > * .cover-info-block .cover-info.span:not(:first-of-type) {
  top: 57%;
}
body .cover > * .cover-info-block .cover-info.header {
  color: #000;
  font-size: 3.5vw;
  top: 30%;
}
body .cover > * .cover-info-block .cover-info.subheader {
  bottom: 15%;
  color: #000;
  font-size: 2.2vw;
}
body .benefits-block {
  margin: 65px 40px;
  height: 6vw;
  width: calc(100% - 2 * 40px);
  position: relative;
}
body .benefits-block .benefit {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #d9bf8f;
}
body .benefits-block .benefit::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 100%;
  border-top: 3vw solid transparent;
  border-left: 3vw solid #d9bf8f;
  border-bottom: 3vw solid transparent;
}
body .benefits-block .benefit > * {
  position: absolute;
}
body .benefits-block .benefit > img {
  position: absolute;
  height: 50%;
  top: 25%;
  left: 10%;
}
body .benefits-block .benefit > .benefit-title {
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  font-size: 2vw;
  margin-left: 30%;
  top: 20%;
}
body .benefits-block .benefit > .benefit-text {
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  font-size: 0.8vw;
  margin-left: 30%;
  top: 70%;
}
body .benefits-block .benefit.left {
  width: 30%;
}
body .benefits-block .benefit.left::after {
  z-index: 100;
}
body .benefits-block .benefit.center {
  left: 0;
  right: 0;
  width: 35%;
  margin: auto;
  background-color: #000;
}
body .benefits-block .benefit.center > img {
  left: 15%;
}
body .benefits-block .benefit.center::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-top: 3vw solid transparent;
  border-left: 3vw solid #fff;
  border-bottom: 3vw solid transparent;
  z-index: inherit;
}
body .benefits-block .benefit.center::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: calc(100% - 3vw);
  border-top: 3vw solid transparent;
  border-right: 3vw solid #fff;
  border-left: unset;
  border-bottom: 3vw solid transparent;
}
body .benefits-block .benefit.right {
  right: 0;
  width: 30%;
}
body .benefits-block .benefit.right::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -3vw;
  border-top: 3vw solid transparent;
  border-right: 3vw solid #d9bf8f;
  border-left: unset;
  border-bottom: 3vw solid transparent;
}
section {
  margin: 65px 40px;
  width: calc(100% - 2 * 40px);
  position: relative;
}
section:last-of-type {
  margin-bottom: 0;
}
section h2 {
  text-align: center;
  font-style: italic;
  margin-bottom: 50px;
  display: block;
}
section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw 1vw;
  grid-template-areas: ". long ." ". long .";
}
section .grid > .item {
  background: url("./img/standart-bigitem.png");
  background-size: 100%;
  height: calc(33vw - (40px + 0.33vw));
  position: relative;
}
section .grid > .item:first-child {
  background: url("./img/long_bigitem.png");
  background-size: 110%;
  background-color: #f5f5f5;
  grid-area: long;
  height: 100%;
}
section .grid > .item .selector {
  transition: all 0.3s;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  margin: 30px;
  opacity: 0;
  display: block;
  background-color: #000;
}
section .grid > .item .selector::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #d9bf8f;
  height: 1px;
  top: 50%;
  width: 60px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9;
}
section .grid > .item .selector::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #d9bf8f;
  width: 1px;
  left: 50%;
  margin: auto;
  height: 60px;
  top: 0;
  bottom: 0;
  z-index: 9;
}
section .grid > .item:hover .selector {
  opacity: 1;
}
.columns-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.columns-4 > * {
  flex: 1 1 calc((100% / 4) - 2rem);
}
.items-normal .item {
  height: 25vw;
  background: url("./img/normal-item.png");
  background-size: 100%;
  position: relative;
}
.items-normal .item .sale {
  width: 4vw;
  height: calc(4vw - 1vw);
  border-radius: 100px;
  position: absolute;
  top: 1vw;
  left: 1vw;
  background-color: #feab12;
  color: #fff;
  font-size: 1.7vw;
  text-align: center;
  padding-top: 1vw;
}
.items-normal .item .sale > .procent {
  font-size: 0.8vw;
  display: block;
  margin-top: -1.6vw;
  margin-left: 2.6vw;
}
.items-normal .item::after {
  content: "+ ADD TO CART";
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.items-normal .item::before {
  content: " ";
  transition: all 0.3s;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(80% - 80px);
  margin: auto;
  border-bottom: 40px solid #000;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
.items-normal .item:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/normal-item.png");
  background-size: 100%, 100%;
}
.items-normal .item:hover::before {
  border-bottom: 40px solid #f0975c;
}
.columns-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.columns-6 > * {
  flex: 1;
}
.brand-items {
  padding: 30px 0;
  overflow: hidden;
}
.brand-items .item {
  height: calc((((100vw / 6) - 2rem) - 80px)*0.54);
  width: calc((100% / 6) - 22rem);
  margin: 40px;
  background: url("./img/brand_image.png");
  background-size: 100%;
}
.columns-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.columns-2 > * {
  flex: 1;
}
.interview-block {
  height: 30vw;
  margin-left: -40px;
  width: 100%;
  padding: 0 40px;
  background-color: #d9bf8f;
}
.interview-block > .interview-left {
  text-align: left;
  margin-left: 17vw;
  position: relative;
}
.interview-block > .interview-left img {
  margin-left: -17vw;
  top: 5vw;
  height: 20vw;
  position: absolute;
}
.interview-block > .interview-left > span {
  font-style: italic;
  color: #fff;
  font-size: 1.4vw;
  margin-top: 12vw;
  display: block;
}
.interview-block > .interview-left > h6 {
  font-size: 2vw;
  font-style: italic;
  margin: 3vw 0 1vw 0;
}
.interview-block > .interview-left > p {
  text-transform: uppercase;
  color: #7f7e7e;
  font-size: 1vw;
}
.interview-block > .interview-right {
  text-align: right;
  margin-right: 17vw;
  position: relative;
}
.interview-block > .interview-right img {
  margin-right: -17vw;
  top: 5vw;
  height: 20vw;
  right: 0;
  position: absolute;
}
.interview-block > .interview-right > span {
  font-style: italic;
  color: #fff;
  font-size: 1.4vw;
  margin-top: 12vw;
  display: block;
}
.interview-block > .interview-right > h6 {
  font-size: 2vw;
  font-style: italic;
  margin: 3vw 0 1vw 0;
}
.interview-block > .interview-right > p {
  text-transform: uppercase;
  color: #7f7e7e;
  font-size: 1vw;
}
.interview-block::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 30px solid #fff;
}
footer {
  background-color: #141414;
  color: #fff;
  padding: 50px 40px;
}
footer .social-icons {
  margin-bottom: 2.33rem !important;
}
footer .social-icons li {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 40px;
  background-color: white;
  margin-right: 15px;
}
footer .social-icons li > a > img {
  margin-left: 22px;
  margin-top: 15px;
  width: 15px;
}
footer .pay-methods > span {
  color: #363636;
  display: block;
  width: 300px;
}
footer hr {
  background-color: #323030;
  height: 1px;
  border: none;
  margin-top: 50px;
  margin-bottom: 30px;
}
footer .footer-top > .footer-column {
  flex: 1;
}
footer .footer-top > .footer-column h6 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer .footer-top > .footer-column.big {
  width: 40%;
  flex: 2;
}
footer .footer-top > .footer-column.big p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer .footer-top > .footer-column.big p i {
  text-transform: lowercase;
}
footer .footer-top > .footer-column.big .input-with-button {
  background-color: white;
  width: fit-content;
  margin-top: 60px;
}
footer .footer-top > .footer-column.big .input-with-button input {
  border: none;
  background-color: transparent;
  height: 40px;
  padding-left: 30px;
  width: 300px;
}
footer .footer-top > .footer-column.big .input-with-button button {
  background-color: #323030;
  border: none;
  height: 40px;
  color: white;
  width: 100px;
  margin: 5px;
}
footer .footer-top > .footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-top > .footer-column ul a {
  text-decoration: none;
  color: #666666;
  font-size: 1rem;
  margin-bottom: 20px;
  display: block;
}
